# Исследование надежности заемщиков

**Описание проекта:**

Заказчиком исследования является кредитный отдел банка. Проект направлен на исследование влияния семейного положения и количества детей клиента на вероятность возврата кредита в срок. Для анализа используются данные о платёжеспособности клиентов, включая их доход, цели кредита и наличие задолженностей. Результаты помогут улучшить модель кредитного скоринга, которая оценивает способность заёмщика вернуть кредит.
_____
**Цель исследования:**

Цель исследования — узнать, влияют ли семейное положение и количество детей клиента на факт погашения кредита в срок.
____
**Данные для анализа:**
Файл *data* со столбцами:
- `children` — количество детей в семье
- `days_employed` — общий трудовой стаж в днях
- `dob_years` — возраст клиента в годах
- `education` — уровень образования клиента
- `education_id` — идентификатор уровня образования
- `family_status` — семейное положение
- `family_status_id` — идентификатор семейного положения
- `gender` — пол клиента
- `income_type` — тип занятости
- `debt` — имел ли задолженность по возврату кредитов
- `total_income` — ежемесячный доход
- `purpose` — цель получения кредита
____
**План работы:**
1. Изучение данных:
- Загрузить данные.
- Изучить структуру таблицы и типы данных.
- Провести предварительный анализ на наличие проблем в данных.

  
2. Предобработка данных:
- Выявить и обработать пропуски в данных.
- Определить возможные причины появления пропусков.
- Обработать аномалии (например, отрицательные значения в days_employed).
- Привести типы данных к корректным форматам (например, total_income в целое число).
- Удалить явные и неявные дубликаты.
- Привести текстовые данные к единому регистру.


3. Категоризация данных:
- Создать категории доходов (total_income_category).
- Определить категории целей кредита (purpose_category).


4. Анализ данных:
- Выявить зависимости между возвратом кредита и:
    - количеством детей;
    - семейным положением;
    - уровнем дохода;
    - целями кредита.
- Представить результаты анализа в сводных таблицах с помощью pivot_table().


5. Выводы:
- Сделать общий вывод по результатам анализа.

## Изучение данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [5]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [7]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [13]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [15]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [18]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [20]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [23]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [25]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [27]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [30]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [32]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [35]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [38]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [40]:
data.duplicated().sum()

71

In [41]:
data = data.drop_duplicates()

## Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [44]:
def categorize_income1(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [45]:
data['total_income_category1'] = data['total_income'].apply(categorize_income1)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [47]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [49]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [50]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Анализ данных

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [53]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Проверка распределения данных
print(data['children'].value_counts())
print()
print(data['debt'].value_counts())

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: count, dtype: int64

debt
0    19599
1     1732
Name: count, dtype: int64

In [54]:
# Создаем сводную таблицу по количеству детей и статусу возврата кредита
pivot_table = data.pivot_table(index='children', columns='debt', values='education', aggfunc='count', fill_value=0)

# Переименовываем столбцы для ясности
pivot_table.columns = ['no_debt', 'debt']

# Считаем общий столбец
pivot_table['total'] = pivot_table['no_debt'] + pivot_table['debt']

# Считаем долю возврата и невозврата кредитов
pivot_table['no_debt, %'] = (pivot_table['no_debt'] / pivot_table['total']) * 100
pivot_table['debt, %'] = (pivot_table['debt'] / pivot_table['total']) * 100

print(pivot_table.sort_values(by='no_debt, %', ascending=False))

          no_debt  debt  total  no_debt, %   debt, %
children
5               9     0      9  100.000000  0.000000
0           13028  1063  14091   92.456178  7.543822
3             303    27    330   91.818182  8.181818
1            4364   444   4808   90.765391  9.234609
2            1858   194   2052   90.545809  9.454191
4              37     4     41   90.243902  9.756098

- Выборка заемщиков с 3-5 детьми слишком мала для статистически значимых выводов, поэтому объединяем их в 1 категорию.
- Статистика по заемщикам с 1-2 детьми почти одинакова, данные по ним тоже объединяем.

In [56]:
def categorize_children(children):
    try:
        if children == 0:
            return 'нет детей'
        elif children >= 1:
            return 'есть дети'
    except:
        pass

In [57]:
data['children_category'] = data['children'].apply(categorize_children)

In [58]:
# Пишем фнкцию для создания сводной таблицы
def create_pivot_table(data, column):
    # Создаем сводную таблицу
    pivot_table = data.pivot_table(index=column, values='debt', aggfunc=['count', 'sum', 'mean'])
    
    # Переименовываем столбцы для ясности
    pivot_table.columns = ['all_credits', 'all_debtors','share_debtors']
    
    # Сортируем по столбцу 'share_debtors' в порядке убывания
    pivot_table = pivot_table.sort_values(by='share_debtors')
    
    # Преобразуем share_debtors в проценты
    pivot_table['share_debtors'] = pivot_table['share_debtors'] * 100
    
    # Форматируем доли должников как проценты
    pivot_table['share_debtors'] = pivot_table['share_debtors'].map('{:.2f}%'.format)
    
    # Выводим результат
    display(pivot_table)

In [59]:
# Запускаем функцию для анализа данных по количеству детей заемщиков
create_pivot_table(data, 'children_category')

                   all_credits  all_debtors share_debtors
children_category
нет детей                14091         1063         7.54%
есть дети                 7240          669         9.24%

**Выводы:**

- Заемщики без детей показывают самый высокий процент возврата кредита. Это может быть связано с тем, что у них меньше финансовых обязательств.
- Заемщики с детьми также показывают низкий процент возврата кредита.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [62]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Проверка распределения данных
print(data['family_status'].value_counts())

family_status
женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: count, dtype: int64

In [63]:
# Запускаем функцию для анализа данных семейного положения заемщиков
create_pivot_table(data, 'family_status')

                       all_credits  all_debtors share_debtors
family_status
вдовец / вдова                 951           63         6.62%
в разводе                     1189           84         7.06%
женат / замужем              12261          927         7.56%
гражданский брак              4134          385         9.31%
Не женат / не замужем         2796          273         9.76%

**Выводы:**
- Высокий процент возврата кредита у заемщиков в браке или бывших в браке (вдовцов/вдов, в разводе и женатых/замужних).
- Низкий процент возврата кредита у заемщиков в гражданском браке и не женатых/не замужних.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [66]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Проверка распределения данных
print(data['total_income_category1'].value_counts())
print()
print(data['debt'].value_counts())

total_income_category1
C    15921
B     5014
D      349
A       25
E       22
Name: count, dtype: int64

debt
0    19599
1     1732
Name: count, dtype: int64

Выборки заемщиков в категориях A, E и D слишком малы для статистически значимых выводов, поэтому объединяем: 
- категории A и B (доход более 200000)
- категории C, D, E (доход менее 200000)

In [68]:
def categorize_income2(income):
    try:
        if income >= 200000:
            return 'доход более 200000'
        elif 0 <= income <= 200000:
            return 'доход менее 200000'
    except:
        pass

In [69]:
data['total_income_category2'] = data['total_income'].apply(categorize_income2)

In [70]:
# Запускаем функцию для анализа данных дохода заемщиков
create_pivot_table(data, 'total_income_category2')

                        all_credits  all_debtors share_debtors
total_income_category2
доход более 200000             5039          356         7.06%
доход менее 200000            16292         1376         8.45%

**Выводы:**
- Заемщики с доходом более 200000 имеют более высокий процент возврата кредита. 
- Заемщики с доходом менее 200000 имеют более низкий процент возврата кредита.

### Как разные цели кредита влияют на его возврат в срок?

In [73]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Проверка распределения данных
print(data['purpose_category'].value_counts())
print()
print(data['debt'].value_counts())

purpose_category
операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: count, dtype: int64

debt
0    19599
1     1732
Name: count, dtype: int64

In [74]:
# Запускаем функцию для анализа данных по количеству детей заемщиков
create_pivot_table(data, 'purpose_category')

                          all_credits  all_debtors share_debtors
purpose_category
операции с недвижимостью        10751          780         7.26%
проведение свадьбы               2313          183         7.91%
получение образования            3988          369         9.25%
операции с автомобилем           4279          400         9.35%

**Вывод:** 
- Высокий процент возврата кредита у заемщиков, берущих кредиты на операции с недвижимостью и проведение свадьбы.
- Средний процент возврата кредита у заемщиков, берущих кредиты на проведение свадьбы.
- Низкий процент возврата кредита у заемщиков, берущих кредиты на получение образования и операции с автомобилем.

### Приведите возможные причины появления пропусков в исходных данных.

**Ответ:**

Появление пропусков в данных о днях занятости (days_employed) и общем доходе (total_income) может быть по следующим причинам:
- Намеренное скрытие информации. Возможно заемщики намеренно скрывают о своем доходе и занятости с целью получения более выгодных условий кредита.
- Ошибка ввода данных. Если поле было не обязательным, то в процессе заполнения анкеты заемщик мог пропустить его.
- Технические проблемы. Возможны технические проблемы при сборе, хранении или выгрузке данных, которые могут привести к потере или изменению информации.

### Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ:**

Потому что медиана представляет собой центральную меру распределения данных, которая не чувствительна к выбросам или крайним значениям, в отличие от среднего значения. Это делает медиану более устойчивой к выбросам и искажениям данных.

## Общий вывод.

Напишите ваш общий вывод.

**Цель:** 
Разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. 

**Входные данные:**
Статистика о платёжеспособности клиентов, предоставленная банком.

**Описание данных:**
Анализ был на основании *21331* записей, очищенных от аномальных значений, явных и неявных дубликатов.
В двух столбцах (`days_employed`, `total_income`) были пропущенные значения. На эти данные сильнее всего влияет тип занятости, поэтому пропуски заполнены медианным значением среди всех записей с тем же типом.
Для удобства анализа данные о доходах и целях покупки были категоризированы.

**На основании анализа можно сделать следующие выводы:**

**1. Влияние наличия детей**
- Заемщики без детей имеют более низкий риск невозврата кредита (7.54%) по сравнению с заемщиками с детьми (9.24%).

**2. Влияние семейного статуса**
- Наиболее надежные люди в браке или бывшие в браке. Заемщики в браке, вдовы/вдовцы и разведенные  имеют относительно низкий риск невозврата кредита (6.62%, 7.06%, 7.56% соответственно).
- Заемщики в гражданском браке и не женатые/не замужние имеют высокий риск невозврата кредита (9.31% и 9.76% соответственно).

**3. Влияние уровня дохода**
- Заемщики с доходом более 200,000 имеют более низкий риск невозврата кредита (7.06%) по сравнению с заемщиками с доходом менее 200,000 (8.45%).

**4. Влияние цели кредита**
- Операции с недвижимостью имеют наименьший риск невозврата кредита (7.26%).
- Проведение свадьбы имеет умеренный риск невозврата кредита (7.91%).
- Получение образования и операции с автомобилем имеют более высокий риск невозврата кредита (9.25% и 9.35% соответственно).